# Node modules
node_modules/
.npm/
bun.lockb

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tools specific files
.tern-port

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store

# Environmental variables
.env